*{
background-color: lightgray;
}

.top1{
background-color: lightgreen;
color:white;
margin:20px;
}

.title{
background-color: darkgreen;
padding: 10px 10px 10px 40px;
font-size: 15px;
}

p{
padding: 0px 10px 20px 10px;
}

sup{
background-color: lightgreen;
}

.comment{
font-size: 8pt;
padding-left: 15px;
margin: 5px;
}







