#test2{
  position:relative;
  top: 0px;
  left: 10.5%;
  background-color: #999999;
  color: #c9466e;
  margin: 0;
}



p{
  position: relative;
  width: 450px;
  border: 1px solid red;
  padding: 8px;
  margin: 10%;
}
