*{
  font-family: "Fira Code", sans-serif;
}

main{
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: column nowrap;
}

main>div{
  margin-right: 30px;
  margin-bottom: 30px;
}

.registration-form, .person-details{
  display: block;
}

#1{
  display: inline-block;
}

input{
  position: relative;
  top:-20px;
  left:10px;
  height: 30px;
  width: 450px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: gray;
  padding-left: 10px;
}

.pass input:last-child{
  left: 60px;
  top: 5px;
}

.first-last-name input{
  width: 500px;
  margin-right: 5px;
  position: relative;
  margin-bottom: 15px;
}

.gender-age{
  display: block;
  position: relative;
}

#gender{
  height: 30px;
  width: 520px;
  margin-left: 5px;
}

.gender-age input{
  width: 500px;
  top: 20px;
}

.conditions{
  width: 800px;
  position: relative;
  top:20px
}

.conditions label{
  display: block;
}

.conditions input{
  width: 20px;
  position: relative;
  top:7px;
  margin-right: 12px;
}

.but{
  position: relative;
  left: 370px;
  top: 30px
}

.button{
  background-color: darkgreen;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 5px;
  cursor: pointer;
}



